<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <br></br>
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="4">
                                <span click.trigger="newHelpTicket()"><i data-feather="plus"></i></span>
                                <span click.trigger="getHelpTickets()" style="margin-left:5px;"><i data-feather="refresh-cw"></i></span>
                            </th>
                        </tr>
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Title</th>
                                <th scope="col">Status</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                            </tr>
                        </thead>
                    <tbody>
                        <tr click.trigger="editHelpTicket(helpTicket)" repeat.for="helpTicket of helpTickets.helpTicketsArray">
                            <td click.trigger="editHelpTicket(helpTicket)"> ${helpTicket.title}</td>
                            <td click.trigger="editHelpTicket(helpTicket)"> ${helpTicket.status}</td>
                            <td click.trigger="editHelpTicket(helpTicket)"> ${helpTicket.personId.firstName} ${helpTicket.personId.lastName} </td>
                            <td click.trigger="editHelpTicket(helpTicket)"> ${helpTicket.ownerId.firstName} ${helpTicket.ownerId.lastName} </td>
                        </tr>
                        </tbody>
                </table>
            </div>
        </div>
    </div>
</template>